<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product - Admin Dashboard</title>
    <link rel="stylesheet" href="/css/adminEdit.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <style>
       
       .image-upload-container {
        position: relative; /* Set relative positioning context for the close icon */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 120px;
        height: 160px;
        margin: 0 10px;
    }

    .close-icon {
        position: absolute;
        top: -20px; 
        right: -5px; 
        cursor: pointer;
        font-size: 20px; /* Adjust size as needed */
        background-color: white; /* Optional, for better visibility */
        border-radius: 50%; /* Optional, for a rounded background */
    }

   

    .image-upload-container label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 110px;
        margin-bottom: 10px; 
    }

    .image-upload-container img {
        max-width: 100%;
        max-height: 100%;
    }

    .image-upload-container button {
        width: 100%; 
        margin-top: 5px; 
        background-color:rgb(186, 174, 219);
      
    }
</style>



    </style>
    <header class="coza-header">
        <div class="container">
            <div class="logo">Coza Store</div>
            <!-- Add more header elements or navigation links as needed -->
        </div>
    </header>
    <div class="dashboard-container">
        <!-- Sidebar Navigation -->
        <aside class="sidebar">
            <div class="logo">Admin Dashboard</div>
            <br> <br>
            <ul class="">
                <li><a href="/admin/dashboard" class="active"><i class="fas fa-home"></i> Dashboard</a></li>
                <li><a href="/admin/userlist" class="active"><i class="fa-solid fa-users"></i> Users</a></li>
                <li><a href="/admin/productlist" class="active "><i class="fas fa-shopping-cart"></i> Products</a></li>
                <li><a href="/admin/oderDetails" class="active "><i class="fas fa-file-alt"></i> Orders</a></li>
                <li><a href="/admin/category " class="active"><i class="fas fa-list"></i> Categories</a></li>
                <li><a href="/admin/Coupon" class="active"><i class="fa-solid fa-money-bill"></i> Coupon</a></li>
                <li><a href="/admin/offer" class="active"><i class="fa-solid fa-tag"></i> offer</a></li>
                <li><a href="/admin/banner" class="active"><i class="fa-regular fa-note-sticky"></i>Banner</a></li>
                <li><a href="/admin/logout" class="active"><i class="fa-solid fa-arrow-right-from-bracket"></i>
                        Logout</a></li>
            </ul>
        </aside>

        <!-- Main Content -->
        <main class="main-content">
            <div class="topbar">
                <div class="menu-toggle">&#9776; Menu</div>
                <div class="user-profile">
                    <!-- <img src="images/user-avatar.jpg" alt="User Avatar"> -->
                    <span>Admin User</span>
                </div>
            </div>

            <div class="content">
                <h1>EDIT PRODUCT</h1>
                <% if(messages.length>0){%>
                    <p style="color: red;"><%=messages%></p>
                    <%}%>
                <!-- Inside your form for editing product details -->
                <form class="" >
                    <div class="add">
                        <div class="mb-3">
            
                            <%if(messages.length>0){%>
                                <div style="color: red;">
                                    <%=messages[0]%>
                                </div>
                                <%}%>
                                    <label for="productName" class="form-label">Product Name</label>
                                    <input type="text" class="form-control" id="productName"
                                        pattern="^[A-Za-z][A-Za-z\s]*[A-Za-z]$" name="productName"
                                        value="<%=product.productName%>" required>
                        </div>

                        <div class="mb-3">
                            <label for="category" class="form-label">Category:</label>
                            <select name="category" id="category" class="form-select">
                                <option ><--select category --></option>
                                <% category.forEach((category)=>{ %>
                                    <option  value="<%= category._id %>"><%= category.catName %></option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="price" name="price" value="120" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">description</label>

                            <input type="text" class="form-control" id="description" name="description"
                                value="<%=product.description%>" required>

                        </div>

                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="quantity" name="quantity"
                                value="<%=product.quantity%>" required>
                        </div>

                        <div class="mb-3">
                            <label for="size" class="form-label">Size</label>
                            <input type="text" class="form-control" id="size" name="size" value="<%=product.size%>"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="color" class="form-label">Color</label>
                            <input type="text" class="form-control" id="color" name="color" value="<%=product.color%>"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="offer" class="form-label">offer</label>
                            <input type="text" class="form-control" id="offer" name="offer" value="<%=product.offer%>"
                                required>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" style="width: 700px;">
                        <div class="d-flex justify-content-evenly">
                            <div class="image-upload-container">
                                <div class="close-icon" onclick="deleteImage('image1', 'preview1');">&times;</div>
                                <label for="image1" class="form-label">
                                    <img id="preview1" src="/multerimages/<%=product.image[0]%>" alt="">
                                </label>
                                <input type="file" class="form-control" id="image1" name="cropImages" style="display: none;" onchange="updateImage('image1', 'preview1')" >
                                <button type="button" onclick="document.getElementById('image1').click();">Upload Image</button>
                            </div>
                    
                            <div class="image-upload-container">
                                <div class="close-icon" onclick="deleteImage('image2', 'preview2');">&times;</div>
                                <label for="image2" class="form-label">
                                    <img id="preview2" src="/multerimages/<%=product.image[1]%>" alt="">
                                </label>
                                <input type="file" class="form-control" id="image2" name="cropImages" style="display: none;" onchange="updateImage('image2', 'preview2')" >
                                <button type="button" onclick="document.getElementById('image2').click();">Upload Image</button>
                            </div>
                    
                            <div class="image-upload-container">
                                <div class="close-icon" onclick="deleteImage('image3', 'preview3');">&times;</div>
                                <label for="image3" class="form-label">
                                    <img id="preview3" src="/multerimages/<%=product.image[2]%>" alt="">
                                </label>
                                <input type="file" class="form-control" id="image3" name="cropImages" style="display: none;" onchange="updateImage('image3', 'preview3')" >
                                <button type="button"  onclick="document.getElementById('image3').click();">Upload Image</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex  justify-content-center ">
                        <input type="hidden" name="id"  id="id" value="<%=product._id%>">
                        <button type="button" class="btn btn-dark  mt-4 " id="upload" style="width: 150px; height: 50px; ">Update
                            Product</button>
                    </div>

                </form>

            </div>
        </main>
    </div>
    <script>
  



    function deleteImage(inputId, previewId) {
        const id=document.getElementById('id').value
        var preview = document.getElementById(previewId).getAttribute('src')
        const segments = preview.split('/');
            const filename = segments[segments.length - 1]
         axios.post('/admin/deleteImage',{preview,filename,id})

    .then(res=>{
        if(res.data.success){
        document.getElementById(inputId).value = '';
        document.getElementById(previewId).src = 'https://bit.ly/3ubuq5o';
        }
    }).catch(err=>{
        console.log('Error');
    })
        
    }
           var oldimageUrl=[]

        function updateImage(inputId, previewId) {

            var input = document.getElementById(inputId);
            var preview = document.getElementById(previewId);
            const oldurl = preview.src
            const segments = oldurl.split('/');
            const filename = segments[segments.length - 1];
            console.log(filename);
              oldimageUrl.push(filename)
           

          
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
   
        document.addEventListener('DOMContentLoaded', function () {
            const uploadbtn = document.getElementById('upload')

            uploadbtn.addEventListener('click', function (e) {
                e.preventDefault()
                console.log(oldimageUrl);
                const id=document.getElementById('id').value
                const productName = document.getElementById('productName').value
                const category = document.getElementById('category').value
                const price = document.getElementById('price').value
                const description = document.getElementById('description').value
                const quantity = document.getElementById('quantity').value
                const size = document.getElementById('size').value
                const color = document.getElementById('color').value
                const offer = document.getElementById('offer').value
                const image1 = document.getElementById('image1').files[0]
                const image2 = document.getElementById('image2').files[0]
                const image3 = document.getElementById('image3').files[0]
                  console.log(image1);

                const  formData=new FormData()
                formData.append('productName',productName)
                formData.append('category',category)
                formData.append('price',price)
                formData.append('description',description)
                formData.append('quantity',quantity)
                formData.append('size',size)
                formData.append('color',color)
                formData.append('offer',offer)
                formData.append('cropImages',image1)
                formData.append('cropImages',image2)
                formData.append('cropImages',image3)
                formData.append('oldimageUrl',JSON.stringify(oldimageUrl))
                formData.append('id',id)
                

              axios.post('/admin/editproduct',formData,{
                headers:{
                    'Content-type':"multipart/form-data"
                }
              })
              .then(res=>{
                  console.log(res);
                if(res.data.success){
                    window.location.href='/admin/productlist'
                }
                
              }).catch(err=>{
                console.log('error in editproduct submission');
              })
              
            })







        })

    </script>

    <script src="js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>