<%- include('./../layouts/adminLayout/header',{pageTitle: 'shopping cart'})%>


            <main class="main-content">


                <div class="content">
                    <h1>PRODUCT LIST</h1>
                    <p>List of Products:</p>
                    <form action="/admin/addproduct" method="">
                        <button type="submit" class="btn btn-dark d-flex mb-3">Add</button>
                    </form>

                    <table class="table table-bordered" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th style="width: 50px;">ID</th>
                                <th>Images</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>category</th>

                                <th>Dscription</th>

                                <th style="width: 140px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0 ;i < products.length ; i++ ) { %>
                                <tr>
                                    <td style="width: 50px;">
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <% console.log(products[i].image[0])%>
                                            <img src="/multerimages/<%=products[i].image[0] %>"
                                                style="max-width: 50px; max-height: 50px;" alt="">
                                    </td>
                                    <td>
                                        <center>
                                            <%= products[i].productName %>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <%= products[i].quantity%>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <%= products[i].price%>
                                        </center>
                                    </td>
                                    <td>
                                        <center>

                                            <%= products[i].categoryId.catName%>
                                        </center>
                                    </td>

                                    <td class="description">
                                        <center>
                                            <marquee behavior="scroll" direction="left">
                                                <%= products[i].description%>
                                            </marquee>

                                        </center>
                                    </td>

                                    <td class="d-flex" style="width: 140px;">
                                        <div class="col-6 ">
                                            <% if (products[i].is_blocked) { %>

                                                <button type="submit" class="badge rounded-pill alert-warning"
                                                    style="color: #a85a0b; border: 0px; background-color: #f9ba7a; width: 60px;"><a
                                                        href="/admin/unlistproduct?productName=<%= products[i].productName%>"
                                                        class="text-decoration-none"> UnList</a></button>
                                                <% } else { %>
                                                    <button type="submit"
                                                        class="btn-edit text-decoration-none w-100 text-white"
                                                        style="color: #a85a0b; border: 0px; background-color: #f9ba7a;"><a
                                                            href="/admin/listproduct?productName=<%= products[i].productName%>"
                                                            class="text-decoration-none">List</a></button>
                                                    <% } %>
                                        </div>
                                        <div class="col-6 ">
                                            <a href="/admin/editproduct?id=<%= products[i]._id %> "
                                                class="btn-edit text-decoration-none ms-2  text-white"
                                                style="width: 60px;">Edit</a>
                                        </div>
                                    </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                    <nav aria-label="Product navigation" class="mt-4">
                        <ul class="pagination justify-content-end">
                            <% if(hasPreviousPage) { %>
                                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                                <li class="page-item"><a class="page-link" href="?page=<%= previousPage %>">Previous</a>
                                </li>
                                <% } %>
                                    <% for(let i=1; i <=totalPages; i++) { %>
                                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                            <a class="page-link" href="?page=<%= i %>">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } %>
                                            <% if(hasNextPage) { %>
                                                <li class="page-item"><a class="page-link"
                                                        href="?page=<%= nextPage %>">Next</a></li>
                                                <li class="page-item"><a class="page-link"
                                                        href="?page=<%= lastPage %>">Last</a></li>
                                                <% } %>
                        </ul>
                    </nav>

                </div>
            </main>


        </div>
    </div>

    <script src="js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>