<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admindashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Coza Store</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/admin/logout">Sign out</a>
            </div>
        </div>
    </header>


    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky">
                  
                        <div class="position-sticky sidebar-sticky">
                            <ul class="nav flex-column">
                              <aside class="sidebar col-12">
                              
                                <br> <br>
                                <ul class="">
                                  <li class="nav-item">
                                    <a href="/admin/dashboard" class="nav-link active d-flex align-items-center">
                                        <i class="fas fa-home me-2"></i> Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                  <a href="/admin/userlist" class="nav-link active d-flex align-items-center">
                                      <i class="fa-solid fa-users me-2"></i> Users
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="/admin/productlist" class="nav-link active d-flex align-items-center border ">
                                      <i class="fas fa-shopping-cart me-2"></i> Products
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="/admin/oderDetails" class="nav-link active d-flex align-items-center">
                                      <i class="fas fa-file-alt me-2"></i> Orders
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="/admin/category" class="nav-link active d-flex align-items-center">
                                      <i class="fas fa-list me-2"></i> Categories
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="/admin/Coupon" class="nav-link active d-flex align-items-center">
                                      <i class="fa-solid fa-money-bill me-2"></i> Coupon
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="/admin/offer" class="nav-link active d-flex align-items-center">
                                      <i class="fa-solid fa-tag me-2"></i> offer
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="/admin/banner" class="nav-link active d-flex align-items-center">
                                      <i class="fa-regular fa-note-sticky me-2"></i> Banner
                                  </a>
                              </li>
                              
                              
                                    </ul>
                            </aside>
                    
                            </ul>
                        </div>
                   
                </div>
            </nav>




            <main class="main-content">
             
    
                <div class="content">
                    <h1>PRODUCT LIST</h1>
                    <p>List of Products:</p>
                    <form action="/admin/addproduct" method="">
                        <button type="submit" class="btn btn-dark d-flex mb-3">Add</button>
                    </form>
    
                    <table class="table table-bordered" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th style="width: 50px;">ID</th>
                                <th>Images</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>category</th>
                                <th>Offer</th>
                                <th>Dscription</th>
    
                                <th style="width: 140px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0 ;i < products.length ; i++ ) { %>
                                <tr>
                                    <td style="width: 50px;">
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <% console.log(products[i].image[0])%>
                                            <img src="/multerimages/<%=products[i].image[0] %>"
                                                style="max-width: 50px; max-height: 50px;" alt="">
                                    </td>
                                    <td>
                                        <center>
                                            <%= products[i].productName %>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <%= products[i].quantity%>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <%= products[i].price%>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                          
                                            <%= products[i].categoryId.catName%>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <%= products[i].offer%>
                                        </center>
                                    </td>
                                    <td class="description">
                                        <center>
                                            <marquee behavior="scroll" direction="left">
                                            <%= products[i].description%>
                                               </marquee>
    
                                        </center>
                                    </td>
    
                                    <td class="d-flex" style="width: 140px;">
                                        <div class="col-6 ">
                                            <% if (products[i].is_blocked) { %>
    
                                                <button type="submit" class="badge rounded-pill alert-warning"
                                                    style="color: #a85a0b; border: 0px; background-color: #f9ba7a; width: 60px;"><a
                                                        href="/admin/unlistproduct?productName=<%= products[i].productName%>"
                                                        class="text-decoration-none"> UnList</a></button>
                                                <% } else { %>
                                                    <button type="submit"
                                                        class="btn-edit text-decoration-none w-100 text-white"
                                                        style="color: #a85a0b; border: 0px; background-color: #f9ba7a;"><a
                                                            href="/admin/listproduct?productName=<%= products[i].productName%>"
                                                            class="text-decoration-none">List</a></button>
                                                    <% } %>
                                        </div>
                                        <div class="col-6 ">
                                            <a href="/admin/editproduct?id=<%= products[i]._id %> "
                                                class="btn-edit text-decoration-none ms-2  text-white"
                                                style="width: 60px;">Edit</a>
                                        </div>
                                    </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </main>

          
        </div>
    </div>

    <script src="js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>