<!DOCTYPE html>
<html lang="en">

<head>
    <title>Checkout</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/checkout.css">
    <!--===============================================================================================-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.0.7/css/boxicons.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Bootstrap CSS -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Bootstrap Bundle JS (includes Popper.js for tooltips & popovers) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>
<style>
    body {
        background-color: rgb(241, 243, 246);
    }

    .payment-info-container {
        background-color: #f8f9fa;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .payment-info-title {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
    }

    .payment-info-description {
        font-size: 14px;
        color: #666;
        margin-bottom: 20px;
    }

    .payment-methods .payment-option {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        transition: all 0.3s ease;
    }

    .payment-option-label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .payment-icon {
        font-size: 24px;
        margin-right: 8px;
    }

    .card-radio-input:checked+.payment-option-label {
        background-color: #e9ecef;
        border-color: #007bff;
    }

    .payment-option-label:hover {
        background-color: #c4cfda;

    }
</style>

<body class="animsition">
    <header class="header-v4">
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container-fluid">
                    <div class="left-top-bar">
                        Free shipping for standard order over $100
                    </div>

                    <div class="right-top-bar flex-w h-full">
                        <a href="#" class="flex-c-m trans-04 p-lr-25">
                            Help & FAQs
                        </a>

                        <a href="#" class="flex-c-m trans-04 p-lr-25">
                            My Account
                        </a>

                        <a href="#" class="flex-c-m trans-04 p-lr-25">
                            EN
                        </a>

                        <a href="#" class="flex-c-m trans-04 p-lr-25">
                            USD
                        </a>
                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop how-shadow1">
                <nav class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <a href="#" class="logo">
                        <img src="images/icons/logo-01.png" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li>
                                <a href="/home">Home</a>

                            </li>

                            <li>
                                <a href="product.html">Shop</a>
                            </li>

                            <li class="label1" data-label1="hot">
                                <a href="shoping-cart.html">Features</a>
                            </li>

                            <li>
                                <a href="blog.html">Blog</a>
                            </li>

                            <li>
                                <a href="about.html">About</a>
                            </li>

                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>

                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
                            data-notify="2">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>

                        <a href="#" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                            data-notify="0">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>

                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
                    data-notify="2">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>

                <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
                    data-notify="0">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>


        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                        Free shipping for standard order over $100
                    </div>
                </li>

                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            Help & FAQs
                        </a>

                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            My Account
                        </a>

                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            EN
                        </a>

                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            USD
                        </a>
                    </div>
                </li>
            </ul>

            <ul class="main-menu-m">
                <li>
                    <a href="/home">Home</a>

                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>

                <li>
                    <a href="product.html">Shop</a>
                </li>

                <li>
                    <a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
                </li>

                <li>
                    <a href="blog.html">Blog</a>
                </li>

                <li>
                    <a href="about.html">About</a>
                </li>

                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>

        <!-- Modal Search -->
        <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
            <div class="container-search-header">
                <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                    <img src="images/icons/icon-close2.png" alt="CLOSE">
                </button>

                <form class="wrap-search-header flex-w p-l-15">
                    <button class="flex-c-m trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                    <input class="plh3" type="text" name="search" placeholder="Search...">
                </form>
            </div>
        </div>
    </header>

    <!-- Breadcrumb -->

    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <span class="stext-109 cl4">
                Shoping Cart
            </span>
        </div>
    </div>



    <!-- Checkout Form -->

    <div class="container-fluid  mt-5 pt-5 ">
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body ">
                        <ol class="activity-checkout mb-0 px-4 mt-3">
                            <li class="checkout-item">
                            </li>
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bxs-truck text-white font-size-20"></i>
                                    </div>
                                </div>

                                <div class="feed-item-list">

                                    <section class="shipping-info">
                                        <div class="d-flex align-items-center mb-4">

                                            <h5 class="font-size-16 mb-0">Shipping Info</h5>
                                        </div>

                                        <p class="text-muted mb-4">Choose a shipping address or add a new one.</p>
                                        <div class="existing-addresses">
                                            <h6 class="mb-3">Your Addresses:</h6>
                                            <% for(let i=0; i < addressData.length; i++) { %>
                                                <input class="form-check-input" type="radio" name="shippingAddress"
                                                    id="address<%= i %>" value="<%= addressData[i]._id %>">
                                                <div class="form-check mb-2 border shadow" style="border-radius: 10px;">
                                                    <label class="form-check-label" for="address<%= i %>">
                                                        <span class="fs-14 mb-2 d-block">
                                                            <%= addressData[i].name %>
                                                        </span>
                                                        <span class="fs-14 mb-2 d-block">
                                                            <%= addressData[i].mobile %>
                                                        </span>
                                                        <span class="fs-14 mb-2 d-block">
                                                            <%= addressData[i].streetAddress %>
                                                                <%= addressData[i].locality %>
                                                        </span>
                                                        <span class="text-muted fw-normal mb-1 d-block">
                                                            <%= addressData[i].city %>
                                                        </span>
                                                        <span class="text-muted fw-normal mb-1 d-block">
                                                            <%= addressData[i].state %>
                                                        </span>
                                                        <span class="text-muted fw-normal d-block">
                                                            <%= addressData[i].addressType %>
                                                        </span>
                                                    </label>
                                                </div>
                                                <% } %>
                                        </div>

                                        <!-- Add more addresses as needed -->

                                        <button class="btn btn-dark text-white" type="button" id="addAddress">
                                            + Add New Address

                                        </button>



                                        <div class="col-md-8 col-lg-9" id="mydiv">
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="tab-account" role="tabpanel"
                                                    aria-labelledby="tab-account-link">
                                                    <form action="/AddressSave" method="post"
                                                        class="p-5 shadow rounded bg-white">
                                                        <h2 class="mb-5 text-center">Manage Address</h2>
                                                        <div class="row g-3">
                                                            <!-- Existing fields for name, email, age, gender, phone -->

                                                            <!-- Additional fields for address details -->
                                                            <div class="col-md-6">
                                                                <p id="error"></p>
                                                                <label for="Name" class="form-label">Name</label>
                                                                <input type="text" class="form-control" id="username"
                                                                    name="name" placeholder="Enter your Name" required>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p id="errorphone"></p>
                                                                <label for="mobile" class="form-label">Mobile Number
                                                                </label>
                                                                <input type="number" class="form-control" id="mobile"
                                                                    name="mobile" placeholder="10-digit number"
                                                                    required>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <p id="erropin"></p>
                                                                <label for="postalCode" class="form-label">Postal
                                                                    Code</label>
                                                                <input type="number" class="form-control"
                                                                    id="postalCode" name="pincode"
                                                                    placeholder="Postal Code" required>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p></p>
                                                                <label for="locality"
                                                                    class="form-label">Locality</label>
                                                                <input type="text" class="form-control" id="locality"
                                                                    name="locality" placeholder="Locality" required>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <label for="Street Address"
                                                                        class="form-label">Address (Area
                                                                        and Street)</label>
                                                                    <textarea class="form-control" id="Street address"
                                                                        name="streetAddress" placeholder="" rows="3"
                                                                        required></textarea>
                                                                </div>

                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="city"
                                                                    class="form-label">City/District/Town</label>
                                                                <input type="text" class="form-control" id="city"
                                                                    placeholder="" name="city" required>
                                                            </div>


                                                           
                                                            <div class="col-md-6">
                                                                <label for="country" class="form-label">State</label>
                                                                <select class="form-select" name="state" id="state"
                                                                    required>
                                                                    <option selected>--Select State--</option>
                                                                    <option selected>--Select State--</option>
                                                                    <option value="AP">Andhra Pradesh</option>
                                                                    <option value="AR">Arunachal Pradesh</option>
                                                                    <option value="AS">Assam</option>
                                                                    <option value="BR">Bihar</option>
                                                                    <option value="CT">Chhattisgarh</option>
                                                                    <option value="GA">Goa</option>
                                                                    <option value="GJ">Gujarat</option>
                                                                    <option value="HR">Haryana</option>
                                                                    <option value="HP">Himachal Pradesh</option>
                                                                    <option value="JK">Jammu and Kashmir</option>
                                                                    <option value="JH">Jharkhand</option>
                                                                    <option value="KA">Karnataka</option>
                                                                    <option value="Kerala">Kerala</option>
                                                                    <option value="MP">Madhya Pradesh</option>
                                                                    <option value="MH">Maharashtra</option>
                                                                    <option value="MN">Manipur</option>
                                                                    <option value="ML">Meghalaya</option>
                                                                    <option value="MZ">Mizoram</option>
                                                                    <option value="NL">Nagaland</option>
                                                                    <option value="OD">Odisha</option>
                                                                    <option value="PB">Punjab</option>
                                                                    <option value="RJ">Rajasthan</option>
                                                                    <option value="SK">Sikkim</option>
                                                                    <option value="TN">Tamil Nadu</option>
                                                                    <option value="TG">Telangana</option>
                                                                    <option value="TR">Tripura</option>
                                                                    <option value="UP">Uttar Pradesh</option>
                                                                    <option value="UT">Uttarakhand</option>
                                                                    <option value="WB">West Bengal</option>

                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="landmark"
                                                                    class="form-label">Landmark</label>

                                                                <input type="text" class="form-control" id="landmark"
                                                                    name="landmark" placeholder="optional">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="alternatephone" class="form-label">Alternate
                                                                    Phone</label>
                                                                <input type="text" class="form-control" id="alterPhone"
                                                                    name="alterPhone" placeholder="optional">
                                                            </div>
                                                            <div class="col-4">
                                                                <label for="addresstype" class="form-label">Address
                                                                    Type</label>
                                                                <select class="form-select" id="addressType"
                                                                    name="addressType" required>
                                                                    <option selected>--Select--</option>
                                                                    <option value="home">Home</option>
                                                                    <option value="Work">Work</option>


                                                                </select>
                                                            </div>

                                                        </div>
                                                        <div class="text-center mt-5">
                                                            <button type="submit" class="btn btn-primary px-4">Save
                                                            </button>

                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>




                                    </section>

                                </div>
                            </li>
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bxs-wallet-alt text-white font-size-20"></i>
                                    </div>
                                </div>
                                <hr class="bg-dark-subtle ">
                                <div class="payment-info-container">
                                    <h5 class="payment-info-title">Payment Info</h5>
                                    <p class="payment-info-description">Choose your preferred method for payment.</p>
                                    <div class="payment-methods row">
                                        <!-- Credit/Debit Card Option -->
                                        <div class="payment-option col-lg-4 col-md-6">
                                            <input type="radio" name="pay-method" id="pay-methodoption1"
                                                class="card-radio-input d-none" value="credit"
                                                aria-label="Credit / Debit Card">
                                            <label for="pay-methodoption1" class="payment-option-label">
                                                <i class="bx bx-credit-card payment-icon"></i>
                                                Credit / Debit Card
                                            </label>
                                        </div>
                                        <!-- PayPal Option -->
                                        <div class="payment-option col-lg-4 col-md-6">
                                            <input type="radio" name="pay-method" id="pay-methodoption2"
                                                class="card-radio-input d-none" value="paypal" aria-label="PayPal">
                                            <label for="pay-methodoption2" class="payment-option-label">
                                                <i class="bx bxl-paypal payment-icon"></i>
                                                PayPal
                                            </label>
                                        </div>
                                        <!-- Cash on Delivery Option -->
                                        <div class="payment-option col-lg-4 col-md-6">
                                            <input type="radio" name="pay-method" id="pay-methodoption3"
                                                class="card-radio-input d-none" value="COD"
                                                aria-label="Cash on Delivery">
                                            <label for="pay-methodoption3" class="payment-option-label">
                                                <i class="bx bx-money payment-icon"></i>
                                                Cash on Delivery
                                            </label>
                                        </div>
                                    </div>
                                </div>


                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col">
                        <a href="/home" class="btn btn-link text-muted">
                            <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
                    </div>
                </div>
            </div>


            <div class="col-xl-4">
                <div class="card checkout-order-summary">

                    <div class="card-body">
                        <div class="p-3 bg-light mb-3">
                            <h5 class="font-size-16 mb-0">Order Summary <span class="float-end ms-2">#MN0124</span>
                            </h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Subtotal:</th>
                                        <td class="text-end" id="subtotal">₹<%=newTotal%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Coupon Discount:</th>
                                        <td class="text-end" id="discount">₹ </td>
                                    </tr>
                                    <tr class="fw-bold ">
                                        <th>
                                            <h4>Order Total:</h4>
                                        </th>
                                        <td class="text-end" id="orderTotal">₹<%=newTotal%>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <input type="hidden" name="newTotal" id="newTotal" value="<%=newTotal%>">
                        <div class="text-center mt-4">
                            <button id="place-order-btn" class="btn btn-success" type="button">
                                Place Your Order and Pay
                            </button>

                        </div>
                    </div>

                </div>
                <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm"
                    style="background-color: rgb(184, 185, 233);">
                    <p id="errCpn" style="color: red; margin-left: 100px;"></p>

                    <div class="flex-w flex-m m-r-20 m-tb-5">
                        <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon"
                            id="coupon" placeholder="Coupon Code">

                        <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                            <button type="button" id="applyCoupon">Apply coupon</button>
                        </div>
                    </div>



                </div>
            </div>


        </div>





        <footer class="bg3 p-t-75 p-b-32">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            Categories
                        </h4>

                        <ul>
                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                    Women
                                </a>
                            </li>

                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                    Men
                                </a>
                            </li>

                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                    Shoes
                                </a>
                            </li>

                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                    Watches
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            Help
                        </h4>

                        <ul>
                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                    Track Order
                                </a>
                            </li>

                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                    Returns
                                </a>
                            </li>

                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                    Shipping
                                </a>
                            </li>

                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                    FAQs
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            GET IN TOUCH
                        </h4>

                        <p class="stext-107 cl7 size-201">
                            Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call
                            us
                            on (+1) 96 716 6879
                        </p>

                        <div class="p-t-27">
                            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="fa fa-instagram"></i>
                            </a>

                            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            Newsletter
                        </h4>

                        <form>
                            <div class="wrap-input1 w-full p-b-4">
                                <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                                    placeholder="email@example.com">
                                <div class="focus-input1 trans-04"></div>
                            </div>

                            <div class="p-t-18">
                                <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="p-t-40">
                    <div class="flex-c-m flex-w p-b-18">
                        <a href="#" class="m-all-1">
                            <img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
                        </a>
                    </div>

                    <p class="stext-107 cl6 txt-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
                            class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
                            target="_blank">ThemeWagon</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                    </p>
                </div>
            </div>
        </footer>


        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="zmdi zmdi-chevron-up"></i>
            </span>
        </div>

        <script>


            document.addEventListener('DOMContentLoaded', function () {
                const pincode = document.getElementById('postalCode')
                const nameElement = document.getElementById('username')
                nameElement.addEventListener('blur', function (e) {
                    e.preventDefault()
                    const name = document.getElementById('username').value
                    const errmsg = document.getElementById('error')
                    axios.post('/checkname', { name })
                        .then(res => {
                            if (res.data.success) {
                                errmsg.textContent = " "

                            } else {
                                errmsg.textContent = "User name is required"
                                errmsg.style.color = "red"

                            }

                        }).catch(err => {
                            console.log(err);
                        })
                })
                document.getElementById('mobile').addEventListener('blur', function () {
                const mobilenumber = this.value
                const pattern = /^[1-9]\d{9}$/

                const errorphone = document.getElementById('errorphone')
                if (mobilenumber === '0000000000') {
                    errorphone.innerHTML = 'Please Enter a valid Number'
                    errorphone.style.color = 'red'
                }
                else if (mobilenumber.length !== 10) {
                    errorphone.innerHTML = 'Please Enter a valid Number'
                    errorphone.style.color = 'red'
                } else {
                    errorphone.innerHTML = ""
                }
            })

            document.getElementById('postalCode').addEventListener('blur', function () {
                const mobilenumber = this.value

                const errorphone = document.getElementById('erropin')
                if (mobilenumber.length !== 6) {
                    errorphone.innerHTML = 'Please Enter a valid Pincode'
                    errorphone.style.color = 'red'
                } else {
                    errorphone.innerHTML = ""
                }
            })

            })


        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const placeorder = document.getElementById('place-order-btn')
                placeorder.addEventListener('click', function (e) {
                    e.preventDefault()
                    const newTotal = document.getElementById('newTotal').value
                    const selectedAddress = document.querySelector('input[name="shippingAddress"]:checked').value
                    const selectedPaymentMethod = document.querySelector('input[name="pay-method"]:checked').value
            
                    var orderAmount=document.getElementById('orderTotal').textContent
                    var numericalPart = orderAmount.replace('₹', '');
                    var Amount = parseFloat(numericalPart);
                    console.log(Amount);

                    if (selectedPaymentMethod == "COD") {

                        axios.post('/placeorder', { Amount, selectedAddress, selectedPaymentMethod })
                            .then(res => {
                                if (res.data.success) {
                                    const orderId = res.data.orderId
                                    window.location.href = `/ordersuccess?orderId=${orderId}`
                                }
                            }).catch(err => {
                                console.log('error');
                            })
                    } else {

                        axios.post('/createOrder', { Amount, selectedAddress, })
                            .then(res => {
                                if (res.data.success) {
                                    const { orderId, } = res.data
                                    console.log(res.data);
                                    var options = {
                                        key: res.data.key_id,
                                        amount: Amount * 100,
                                        currency: "INR",
                                        name: "Coza store ",
                                        description: "Test Transaction",
                                        order_id: orderId,
                                        handler: function (response) {

                                            axios.post("/verifiaction", {
                                                response,
                                                razorpay_payment_id: response.razorpay_payment_id,
                                                razorpay_order_id: response.razorpay_order_id,
                                                razorpay_signature: response.razorpay_signature
                                            }).then(res => {
                                                if (res.data.success) {
                                                    axios.post(`/placeorder?transactionId=${res.data.razorpay_payment_id}`, { Amount, selectedAddress, selectedPaymentMethod })
                                                        .then(res => {
                                                            if (res.data.success) {
                                                                const orderId = res.data.orderId
                                                                window.location.href = `/ordersuccess?orderId=${orderId}`
                                                            }
                                                        }).catch(err => {
                                                            console.log('error');
                                                        })

                                                } else {
                                                    alert('Payment verification failed');
                                                }
                                            }).catch(err => {
                                                console.error('Verification request failed', error);
                                                alert('Payment verification failed');
                                            })


                                        },
                                        prefill: {

                                        },
                                        theme: {
                                            color: "#3399cc"
                                        }
                                    };
                                    var razorpayObject = new Razorpay(options)
                                    razorpayObject.on('payment.failed', function (res) {
                                        alert('payment failed')
                                    })
                                    razorpayObject.open()
                                }

                            }).catch(err => {
                                console.log('error');
                            })




                    }

                })
                const couponBtn = document.getElementById('applyCoupon')
                couponBtn.addEventListener('click', function () {
                    const couponCode = document.getElementById('coupon').value
                    axios.post("/coupoCheck", { couponCode })
                        .then(res => {
                            if (!res.data.success) {
                                document.getElementById('errCpn').innerHTML = "Coupon Expired"
                                console.log('failed');
                            } else {
                                document.getElementById('errCpn').innerHTML = " "
                                const discount = res.data.coupon.dicountAmount
                                document.getElementById('discount').innerHTML = `₹${discount}`
                                var subtotalContent = document.getElementById('subtotal').textContent;
                                var numericalPart = subtotalContent.replace('₹', '');
                                var subtotalAmount = parseFloat(numericalPart);

                                document.getElementById('orderTotal').innerHTML =`₹ ${subtotalAmount-discount}`

						}
                        }).catch(err => {
                            console.log('error in');
                        })

                })


            })
        </script>
        <script>



            document.addEventListener('DOMContentLoaded', function () {
                const addAddress = document.getElementById('addAddress')
                const mydiv = document.getElementById('mydiv').style.display = 'none'
                addAddress.addEventListener('click', function (e) {
                    e.preventDefault()
                    var x = document.getElementById("mydiv");
                    if (x.style.display === "none") {
                        x.style.display = "block"; // Show the div
                    } else {
                        x.style.display = "none"; // Hide the div
                    }

                })
            })
        </script>
        <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <script>
            $(".js-select2").each(function () {
                $(this).select2({
                    minimumResultsForSearch: 20,
                    dropdownParent: $(this).next('.dropDownSelect2')
                });
            })
        </script>
        <!--===============================================================================================-->
        <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script>
            $('.js-pscroll').each(function () {
                $(this).css('position', 'relative');
                $(this).css('overflow', 'hidden');
                var ps = new PerfectScrollbar(this, {
                    wheelSpeed: 1,
                    scrollingThreshold: 1000,
                    wheelPropagation: false,
                });

                $(window).on('resize', function () {
                    ps.update();
                })
            });
        </script>
        <!--===============================================================================================-->
        <script src="js/main.js"></script>
</body>

</html>